.comment-box {
    /* max-width: 37.5rem; */
    width: 100%;
    color: #000;
    background-color: #fff;
    /* border-radius: 0.875rem; */
    padding: 0.2rem 1rem 2rem;
}

.comment-view-button {
    background-color: #BB1919;
    color: #fff;
    border: none;
    border-radius: 0.25rem;
    font-size: 0.75rem;
    font-weight: bold;
    padding: 0.7em;
    text-decoration: none;
    float: right;
}

.comment-view-button:hover {
    cursor: pointer;
}

.comment-view-button:focus{
    text-decoration: none;
    outline: none;
}
  