.comment-form {
    background-color: #fff;
    box-shadow:  0.1rem 0.1rem 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
    margin-bottom: 2rem;
    padding: 1rem;  
}

.comment-fields {
    margin-bottom: 0.25rem;
}

.comment-fields input,.comment-fields textarea{
    border: none;
    /* border-bottom: 1px solid black; */
    border-bottom: 1px solid rgb(70, 68, 68);
    font-size: 0.85rem;
    padding: 0.25rem 0;
    width: 99%;
}

.comment-fields input:focus,.comment-fields textarea:focus{
    border-bottom-color: #BB1919;
    outline: none;
}

/* .comment-fields textarea{
    font-style: italic;
} */

.comment-submit-button{
    background-color: #BB1919;
    border: 2px solid #BB1919;
    color: #fff;
    border-radius: 0.25rem;
    font-size: 0.75rem;
    font-weight: bold;
    padding: 0.7em;
    transition: 0.2s ease-out;
}

.comment-submit-button:hover {
    
    color: #BB1919;
    background: transparent;
    border: 2px solid #BB1919;
    cursor: pointer;
}