.header {
    display: flex;
    justify-content: center;
    padding: 2rem;
  }
  
.link-title {
    color: black;
    text-decoration: none;
    padding: 0 5px;
  }

.headerlink-underline {
margin-top: -0.5rem;
opacity: 0;
transition: opacity 200ms linear;
}

.headerlink-title:hover .headerlink-underline {
opacity: 1;
}

.headerlink-underline-active {
margin-top: -0.5rem;
display: block;
}
  