.container{
  height: 100%;
  width: 100%;
  box-shadow: 0 30px 30px -15px black;
  position: relative;
  margin-top: 0.5rem;
  cursor: pointer;
}

.card-title {
    display: block;
    position: absolute;
    font-weight: bolder;
    font-style: bold;
    bottom: 0;
    text-align: center;
    color: #fff;
    padding: 2%;
    width: 100%;
    box-shadow: 0 0 4rem 0 rgba(133, 132, 132, 0.3);
    z-index: 1;
}

.card-title:before {
    content: '';
    position: absolute;
    top: 0;
    left:0;
    right: 0;
    bottom: 0;
    background: inherit;
    box-shadow: inset 0 0 30000px 0 rgba(0, 0, 0, 0.9);
    filter: blur(2px);
    z-index: -1;
}

.container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  position: relative;
  z-index:1;
}

.card-desc {
    display: block;
    font-size: 1.2rem;
    position: absolute;
    height: 0;
    top: 0;
    opacity: 0;
    padding: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: transparent;
    transition: all 0.8s ease;
    width: 70%;
  }
  
.container:hover .card-desc {
    opacity: 1;
    height: 60%;
    color: white;
    z-index: 1;
}

/* ----- Loading spinner Position -------*/
.loading {
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}